* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

form {
  margin-top: 25px;
  margin-bottom: 25px;
}

.login_logoContainer {
  align-items: center;
  box-sizing: border-box;
}

.signup_logoContainer {
  -ms-flex-item-align: start;
  align-self: flex-start;
  position: relative;
  top: 25px;
  right: 130px;
}

.login_logo {
  width: 135px;
  height: 34px;
  margin: 0 auto;
  display: block;
  height: 34px;
  line-height: initial;
}

.login_subtitle {
  text-align: center;
  padding: 24px 16px;
  font-size: 2.2rem !important;
  line-height: 1.25;
}

.login_form {
  width: 40%;
  margin: 0 auto !important;
  padding: 1.5rem;
  padding-top: 0.7rem;
}

.login_signInText {
  font-size: 2.2rem;
  line-height: 1.25;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  padding: 0 0 4px 0;
}

.login_signInSubHeading {
  font-size: 1rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.login_submitButton {
  position: relative;
  top: -15px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 52px;
  line-height: 52px;
  background-color: #0073b1;
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  background: #0a66c2 !important;
  border-radius: 28px !important;
}

.login_forgotPasswordContainer {
  position: relative;
  left: 8px;
  top: -20px;
  margin-top: 0px;
}

.login_forgotPassword {
  position: relative;
  left: -8px;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #0073b1;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  color: #0a66c2 !important;
  border-radius: 28px !important;
}

.login_joinNow {
  text-align: center;
  margin: 40px 0 0;
}

.login_changeMode {
    color: #0a66c2 !important;
    font-weight: 600;
    background-color: transparent;
    border: 0;
}